.productprocess{

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-left: -40px;


}

.productprocess>div{
    height: 180px;
    width: 250px;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.productprocess>div:nth-child(1){
 
    background-color: rgb(120, 240, 120);

}

.productprocess>div:nth-child(2){
 
    background-color: rgba(247, 130, 53, 0.623);
    
}

.productprocess>div:nth-child(3){

    background-color:rgb(247, 17, 17);
    
}

.container>h1{
    margin-top: 50px;
    font-size: 29px;
    text-align: left;
    margin-bottom: 20px;
}