
.container{
    display: flex;
    width: 90%;
    margin: auto;
    text-align: left;
    flex-wrap: wrap;

}


.dashboardpart{
    width: 30%;
padding-left: 20px;
    margin-top: 20px;
    text-align: left;
    
}
.dashboardpart>h1{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 25px;
}

.componentpart{
    width: 70%;
    margin: auto;

}

.NewProduct{
    display: none;
}

.homeblock{
    display: block;
}
.homenone{
    display: none;
}

.NewProductblovk{
    display: block;
}

.NewProductnone{
    display: none;
}

.Productsblovk{
    display: block;

}
.Productsnone{
    display: none;
}
.Creditblock{
    display: block;
}
.Creditnone{
    display: none;
}


@media (min-width:100px) and (max-width: 960px) {

    .container{
        display: block;
    }

    .dashboardpart{
     margin: auto;
        
    }
    .dashboardpart{
        width: 80%;
        margin: auto;
    }
  }


  /* @media (min-width:460px) and (max-width: 460px) {

    .container{
        display: block;
    }
  } */