
.productprocess{

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;

}

.productprocess>div{
    height: 180px;
    width: 250px;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.productprocess>div:nth-child(1){
 
    background-color: green;

}

.productprocess>div:nth-child(2){
 
    background-color: orangered;
    
}

.productprocess>div:nth-child(3){

    background-color:rgb(182, 104, 108);
    
}